header{
    background: url(../img/main-screen__bgc.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 40px;
}
.menu ul li{
    display:inline-block;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
}
.btn{
    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    border-radius: 50px;
    color: #fff;
}
.header-text{
    padding-top: 198px;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 140%;
    color: #FFFFFF;

}

img {
    display: block;
    max-width: 100%;
}




/* ================ */
/* ЧЕМ МЫ ЗАНИМАЕМСЯ */
/* ================ */


.description {
    width: 1301px;
    height: 542px;
    /* border: 1px solid #000; */
    margin: 200px 307px 0px 312px;
    display: flex;
}

.img-rectangle {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -2;
}

.img-block {
    position: absolute;
    top: 96px;
    left: 40px;
}

.block-img {
    position: relative;
    width: 50%;
}

.block-text {
    width: 50%;
}



/* ================ */
/* БЫСТРЫЙ СТАРТ */
/* ================ */


.quick-start {
    border: 1px solid #000;
    width: 1315px;
    height: 552px;
    margin: 200px 312px 0px 293px;
}